<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Cadastro de Usuário</h1>

<form th:action="@{/usuarios/cadastro}" method="post" th:object="${usuario}">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required /><br/>

    <label>Data de Nascimento:</label>
    <input type="date" th:field="*{dataNasc}" /><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required /><br/>

    <label>Senha:</label>
    <input type="password" th:field="*{senha}" required /><br/>

    <button type="submit">Cadastrar</button>
</form>

<hr/>

<p>Esqueceu sua senha? <a th:href="@{/usuarios/trocar-senha}">Trocar senha</a></p>

</body>
</html>

